<!DOCTYPE html>
<html>
<head>
  <title>Produkty</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="user-changepass.component.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="forma" style="max-width: 70%; margin:auto;padding-bottom: 20px">
  <form [formGroup]="formPass" (submit)="setUserById()">
    <div class="container" >
      <h1>Login</h1>
      <hr>
      <label><b>Old password</b></label>
      <input type="password" formControlName="oldPassword" placeholder="Enter Old Password">
      <p></p>
      <label><b>New password</b></label>
      <input type="password" formControlName="newPassword1" placeholder="Enter New Password">
      <p></p>
      <label><b>New password again</b></label>
      <input type="password" formControlName="newPassword2" placeholder="Enter New Password Again">
      <p></p>
    </div>
    <button class="button3" type="submit" style="color: black; border-radius: 1px; float: right;margin-right: 15%">
      Change password
    </button>
  </form>

</div>
</body>

