<!DOCTYPE html>
<html>
<head>
  <title>Produkty</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="product-detail-page.component.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="forma" style="max-width: 70%; margin-left: auto;margin-right: auto;padding-bottom: 20px"  *ngIf="product">
  <img src="{{product.image}}" class="img-thumbnail rounded"
       alt="ski boots" style="width: 320px; height: 300px;display: block;margin-left: auto;margin-right: auto" />
  <div class="card-body">
    <h3 class="card-title" >{{product.name}}</h3>
    <hr style="max-width: 800px;margin-right: auto;margin-left: auto">
    <div class="info">
      <p class="text" style="margin-left: 9%">{{product.description}}</p>
      <p class="card-text" style="margin-left: 9%"><b>Sizes:</b>{{product.sizes}}</p>
      <p style="margin-left: 9%"><b>Type:</b> {{product.type}}</p>
      <p style="overflow: hidden;float: left" class="size" >Select size:</p>
    </div>
    <form [formGroup]="formSize" (submit)="saveOrderProduct(product.id)" >
      <select style="width: 80px; overflow: hidden;" id="select1" class="size2" formControlName="size">
        <option  *ngFor="let size of product.sizes" [value]="size">
          {{ size }}
        </option>
      </select>
<div style="color: darkred; ">
  <b >Price: </b>{{product.price}}<b style="margin-left: 0.5%;color: darkred">€</b>
</div>

      <button type="submit" class="button3" >BUY</button>
    </form>
  </div>
</div>
</body>

