
<body>
<form [formGroup]="formGroup" (submit)="savePerson()">
  <div class="container" >
    <h1>Register</h1>
    <hr>
    <label><b>E-mail</b></label>
    <input type="text" formControlName="email" placeholder="Enter E-mail">
    <p></p>
    <label><b>Password</b></label>
    <input type="password" formControlName="password" placeholder="Enter E-mail">
    <p></p>

    <label><b>First Name</b></label>
    <input type="text" formControlName="firstName" placeholder="Enter First Name">
    <p></p>
    <label ><b>Last Name</b></label>
    <input type="text" formControlName="lastName" placeholder="Enter Last Name">
    <p></p>
    <label><b>Phone</b></label>
    <input type="text" formControlName="phone" placeholder="Enter Phone">
    <p></p>
    <label><b>Address</b></label>
    <input type="text" formControlName="address" placeholder="Enter Address">
    <p></p>
    <label><b>City</b></label>
    <input type="text" formControlName="city" placeholder="Enter City">
    <p></p>
    <label><b>State</b></label>
    <input type="text" formControlName="state" placeholder="Enter State">
    <p></p>
    <label><b>Zipcode</b></label>
    <input type="text" formControlName="zipCode" placeholder="Enter Zip Code">
    <hr>

    <button type="submit" style="color: black; border-radius: 1px; background-color: green;float: right;margin-right: 15%" [disabled]="formGroup.invalid">
     Create Account
    </button>
  </div>
</form>
</body>

