<!DOCTYPE html>
<html>
<head>
  <title>Produkty</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="user-register.component.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="forma" style="max-width: 70%">
  <form [formGroup]="formGroup" (submit)="savePerson()">
    <div class="container" >
      <h1 style="padding-bottom: 1rem">Register</h1>
      <hr>
      <div class="check">
        <label><b>E-mail</b></label>
        <input type="text" formControlName="email" placeholder="Enter E-mail">
        <p *ngIf="checkEmail() == false" style="color: red; margin-left: 9rem">Incorrect email form</p>
      </div>
      <p></p>
      <div class="check">
        <label><b>Password</b></label>
        <input type="password" formControlName="password" placeholder="Enter password">
        <p *ngIf=" checkPasswordCharacters() == false" style="color: red; margin-left: 28rem">Password must contain 3 Numbers, Upper and lower character</p>
      </div>

      <p></p>
      <div class="check">
        <label><b>Password again</b></label>
        <input type="password" formControlName="password2" placeholder="Enter password again">
        <p *ngIf="formGroup.valid && checkPasswords() == false" style="color: red; margin-left: 11rem">Passwords do not match</p>

      </div>

      <p></p>
      <hr>
      <label><b>First Name</b></label>
      <input type="text" formControlName="firstName" placeholder="Enter First Name">
      <p></p>
      <label ><b>Last Name</b></label>
      <input type="text" formControlName="lastName" placeholder="Enter Last Name">
      <p></p>
      <label><b>Phone</b></label>
      <input type="text" formControlName="phone" placeholder="Enter Phone">
      <p></p>
      <label><b>Address</b></label>
      <input type="text" formControlName="address" placeholder="Enter Address">
      <p></p>
      <label><b>City</b></label>
      <input type="text" formControlName="city" placeholder="Enter City">
      <p></p>
      <label><b>State</b></label>
      <input type="text" formControlName="state" placeholder="Enter State">
      <p></p>
      <div>
        <label><b>Zipcode</b></label>
        <input type="text" formControlName="zipCode" placeholder="Enter Zip Code">
      </div>
      <hr>
      <button class="button3" type="submit" (click)="checkPasswords()" style="color: black; border-radius: 1px; float: right;margin-right: 30.5%">
        Create Account
      </button>

      <b class="fill" *ngIf="formGroup.invalid">Fill in all fields!</b>
    </div>
  </form>

</div>

</body>

