<!DOCTYPE html>
<html>
<head>
  <title>Objednavky</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="order-page.component.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h4 style="text-align: center;margin-top: 20px;font-family: 'Abyssinica SIL'"><b>Your shopping cart</b></h4>
<h1 *ngIf="inventory.length == 0">Vas kosik je prazdny...</h1>
<div class="card mb-3" style="max-width: 70%; margin: auto;margin-top: 20px" *ngFor="let item of inventory">

  <div class="form" >
  <img src="{{item.productId.image}}" class="img-thumbnail rounded"
       alt="Snowboard" class="mx-auto" style=" max-width: 200px;max-height: 200px;text-align: left;"/>
    <label class="card-title" style="margin-left: 10%;"><b>{{item.productId.name}}</b></label>
    <label class="card-text" style="margin-left: 12%"><b>Size:</b>{{item.size}}</label>
    <label style="margin-left: 35%;color: green"><b>Price: </b>{{item.productId.price}}</label>
    <button (click)="deleteItem(item)">
      X
    </button>
  </div>
</div>
<form *ngIf="inventory.length>0" [formGroup]="formOrder" (submit)="saveOrder()">
  <select style="width: 80px; overflow: hidden;" id="select1" class="size2" formControlName="type">
    <option value="0">DOBIERKA</option>
    <option value="1">ONLINE</option>
  </select>

  <button *ngIf="session.GetSessionId()!=null" type="submit" style="color: black; border-radius: 1px; background-color: green;float: right;margin-right: 15%">
    Finish Order
  </button>
  <button *ngIf="session.GetSessionId()==null" type="button" (click)="redirect()" style="color: black; border-radius: 1px; background-color: green;float: right;margin-right: 15%">
    Proceed to checkout
  </button>
</form>
</body>

