<div class="header">
  <a href="" class="logo">SKISHOP</a>

  <div class="header-right" *ngIf="GetSessionFirstName() !== null">
    <div class="username" *ngIf="GetSessionFirstName() != null && GetSessionRole() != 'NotSignedIn'">
      <a href="/profile/{{GetSessionId()}}">
        <i class="fa fa-user"></i>
        <h5 class="name">{{GetSessionFirstName()}}</h5>
      </a>
    </div>
    <a class="fa fa-shopping-cart" style="font-size:36px" href="order">

      <div class="circle" *ngIf="inventory.length>0">{{inventory.length}}</div>
    </a>
    <div class="totalPrice2" *ngIf="inventory.length>0">
      {{getTotalPrice()}}€

    </div>
    <!--<a class="fa fa-shopping-cart" style="font-size:36px" href="order"></a>-->
    <button  class="button1" routerLink="login" (click)="RemoveLocal()" *ngIf="GetSessionFirstName() == null || GetSessionRole() == 'NotSignedIn'">Login</button>
    <div  *ngIf="GetSessionFirstName() != null && GetSessionRole() != 'NotSignedIn'">
      <button class="button1" routerLink="main" (click)="RemoveLocal(); RemoveSession() ">Logout</button>
      <a class="changepassword" href="changepass">change password</a>
    </div>
  </div>

  <div class="header-right" *ngIf="GetSessionFirstName() == null">
    <a class="fa fa-shopping-cart" style="font-size:36px" href="order">

      <div class="circle2" *ngIf="inventory.length>0">{{inventory.length}}</div>
    </a>
    <div class="totalPrice2" *ngIf="inventory.length>0">
      {{getTotalPrice()}}€

    </div>

    <button  class="button1" routerLink="login" (click)="RemoveLocal()" *ngIf="GetSessionFirstName() == null || GetSessionRole() == 'NotSignedIn'">Login</button>
    <div  *ngIf="GetSessionFirstName() != null && GetSessionRole() != 'NotSignedIn'">

      <button class="button1" routerLink="main" (click)="RemoveLocal(); RemoveSession()">Logout</button>
      <a class="changepassword" href="changepass">change password</a>
    </div>

  </div>

</div>
<router-outlet></router-outlet>
