<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="header">

  <a href="" class="logo">SKISHOP</a>
  <div class="header-right">
    <a class="fa fa-shopping-cart" style="font-size:36px" href="order"></a>
    <a class="active" href="login" *ngIf="GetSessionFirstName() == null">Login</a>
    <div  *ngIf="GetSessionFirstName() != null">

      <p class="name">{{GetSessionFirstName()}}</p>
      <a class="active" routerLink="main" (click)="RemoveSession()">Logout</a>
      <a href="changepass">change password</a>
    </div>
  </div>

</div>


</body>
</html>
<router-outlet></router-outlet>
