<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="header">
  <a href="" class="logo">SKISHOP</a>
  <div class="header-right">
    <a class="fa fa-shopping-cart" style="font-size:36px" href="order"></a>
    <a class="active" href="login">Login</a>
  </div>
  <div class="search-container">
    <form class="form" action="#">
      <input class="input" size="100" type="text" placeholder="Search.." name="search">
      <button class="button" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

</div>


</body>
</html>
<ng-container>
  <router-outlet></router-outlet>
</ng-container>
