.form{
  overflow-x: hidden;
  margin-left: 3%;
  padding-left: 1%;
}
.form-outline{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  width: 13rem;
  gap: 1rem;

}
#typeNumber{
  width: 5rem;
}
#typeNumber2{
  width: 5rem;
}
.form-label{
  padding-left: 2rem;
}
.form-label2{
  padding-left: 5rem;
}
.input{
  display: flex;

}


.type2{
  font-family: sans-serif;
  font-size: 1.33333rem;

  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}
.price{
  font-family: sans-serif;
  font-size: 1.33333rem;

  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  margin-left: 8% ;
}
.check{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 15rem;
  padding-left: 4rem;
}
.GFG{
  margin-top: 2%;
  margin-left: 5%;
}
