
<div class="form" [formGroup]="formFilter" >
  <div class="row justify-content-center" id="spinner-example-filters">
    <b class="price" style="padding-top: 20px">Price:</b>
    <div class="input">
      <div class="form-outline">
        <input type="number" id="typeNumber" class="form-control active" formControlName="price1">
        <label>-</label>
        <input type="number" id="typeNumber2" class="form-control active" formControlName="price2">
        <label class="form-label" for="typeNumber" style="margin-left: 0px;">Od</label>
        <label class="form-label2" for="typeNumber2" style="margin-left: 0px">Do</label>
      </div>
    </div>
  </div>

  <div class="type">
    <label class="type2" >Type:</label>
    <div class="check">
      <input class="form-check-input" type="radio" id="arrayRadio1" value="SKI" formControlName="type">
      <label class="form-check-label" for="arrayRadio1">Ski</label>
    </div>

    <div class="check">
      <input class="form-check-input" type="radio" id="arrayRadio2" value="SNOWBOARD" formControlName="type">
      <label class="form-check-label" for="arrayRadio2">Snowboard</label>
    </div>

    <div class="check">
      <input class="form-check-input" type="radio" id="arrayRadio3" value="SKIBOOTS" formControlName="type">
      <label class="form-check-label" for="arrayRadio3">Ski Boots</label>
    </div>

    <div class="check">
      <input class="form-check-input" type="radio" id="arrayRadio4" value="SNOWBOOTS" formControlName="type">
      <label class="form-check-label" for="arrayRadio4">Snowboard Boots</label>
    </div>
  </div>

  <div class="type" data-mdb-filter="size" *ngIf="formFilter.controls.type.value == 'SKIBOOTS' || formFilter.controls.type.value == 'SNOWBOOTS'">
    <div class="type">
      <label class="type2" >Type:</label>
      <div class="check">
        <input class="form-check-input" type="radio" id="arrayRadio5" value="36-38" formControlName="sizes">
        <label class="form-check-label" for="arrayRadio1">36-38</label>
      </div>

      <div class="check">
        <input class="form-check-input" type="radio" id="arrayRadio6" value="39-41" formControlName="sizes">
        <label class="form-check-label" for="arrayRadio2">39-41</label>
      </div>

      <div class="check">
        <input class="form-check-input" type="radio" id="arrayRadio7" value="42-44" formControlName="sizes">
        <label class="form-check-label" for="arrayRadio3">42-44</label>
      </div>

      <div class="check">
        <input class="form-check-input" type="radio" id="arrayRadio8" value="45-47" formControlName="sizes">
        <label class="form-check-label" for="arrayRadio4">45-47</label>
      </div>
    </div>
  </div>

  <div class="type" data-mdb-filter="size" *ngIf="formFilter.controls.type.value == 'SNOWBOARD' || formFilter.controls.type.value == 'SKI'">
    <div class="type">
      <label class="type2" >Type:</label>
      <div class="check">
        <input class="form-check-input" type="radio" id="arrayRadio9" value="105-115" formControlName="sizes">
        <label class="form-check-label" for="arrayRadio1">105-115</label>
      </div>

      <div class="check">
        <input class="form-check-input" type="radio" id="arrayRadio10" value="115-130" formControlName="sizes">
        <label class="form-check-label" for="arrayRadio2">115-130</label>
      </div>

      <div class="check">
        <input class="form-check-input" type="radio" id="arrayRadio11" value="130-145" formControlName="sizes">
        <label class="form-check-label" for="arrayRadio3">130-145</label>
      </div>

      <div class="check">
        <input class="form-check-input" type="radio" id="arrayRadio12" value="145-160" formControlName="sizes">
        <label class="form-check-label" for="arrayRadio4">145-160</label>
      </div>
    </div>
  </div>

  <button type="submit"x class="button1" (click)="saveFilter()">
    Use filters
  </button>

  <button type="button" class="button2"  [hidden]="formFilter.invalid" (click)="session.RemoveSessionFiltered(); resetForm();">
    Delete filters
  </button>



</div>
