<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="form">
<div class="row justify-content-center" id="spinner-example-filters">
  <p class="text-center fa-lg fw-bold" style="padding-top: 20px">Price:</p>
  <div class="input">
    <div class="form-outline">
      <input type="number" id="typeNumber" class="form-control active" value="0">
      <label>-</label>      <input type="number" id="typeNumber2" class="form-control active" value="200">
      <label class="form-label" for="typeNumber" style="margin-left: 0px;">Od</label>
      <label class="form-label2" for="typeNumber2" style="margin-left: 0px">Do</label>
</div>
  </div>
</div>

<div class="type">
  <label class="type2">Type:</label>
  <div class="check">

    <input class="form-check-input" type="radio" name="arrayRadioOptions" id="arrayRadio1" value="black">
    <label class="form-check-label" for="arrayRadio1">Ski</label>
  </div>

  <div class="check">
    <input class="form-check-input" type="radio" name="arrayRadioOptions" id="arrayRadio2" value="red">
    <label class="form-check-label" for="arrayRadio2">Snowboard</label>
  </div>

  <div class="check">
    <input class="form-check-input" type="radio" name="arrayRadioOptions" id="arrayRadio3" value="blue">
    <label class="form-check-label" for="arrayRadio3">Ski Boots</label>
  </div>

  <div class="check">
    <input class="form-check-input" type="radio" name="arrayRadioOptions" id="arrayRadio4" value="gray">
    <label class="form-check-label" for="arrayRadio4">Snowboard Boots</label>
  </div>
</div>
<div class="type" data-mdb-filter="size">
  <label class="type2">Size:</label>
  <div class="check">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="36">
    <label class="form-check-label" for="inlineCheckbox1">36</label>
  </div>
  <div class="check">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="38">
    <label class="form-check-label" for="inlineCheckbox2">38</label>
  </div>
  <div class="check">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="40">
    <label class="form-check-label" for="inlineCheckbox3">40</label>
  </div>
  <div class="check">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="42">
    <label class="form-check-label" for="inlineCheckbox4">42</label>
  </div>
  <a href='main'>
    <button class="GFG" style="color: black; border-radius: 1px; background-color: green;">
      Use filters
    </button>
  </a>
</div>
</div>

